{% load static %}

<!DOCTYPE html>
<html lang="pt-BR" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fila Smart - Otimização de Filas Hospitalares{% endblock title %}</title>

    <link rel="shortcut icon" href="{% static 'base/images/favicon.ico' %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700;900&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>
    
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
</head>

<body style="font-family: 'Public Sans', system-ui, sans-serif;" class="bg-[#101922] min-h-screen grid grid-rows-[auto_1fr_auto] m-0">
    <header class="sticky top-0 z-50 w-full bg-[#101922] border-b border-[rgb(30_41_59)] backdrop-blur-md">
        <nav class="mx-auto px-4 py-4 max-w-[1200px] sm:px-8">
            <ul class="flex flex-row justify-between text-white items-center">
                <li>
                    <a href="/" class="flex flex-row justify-center items-center gap-2.5">
                        <span class="material-symbols-outlined text-[#137fec] bg-[#137fec]/10 rounded-lg p-1">local_hospital</span>
                        <span class="font-bold text-lg leading-tight tracking-tight">FilaSmart</span>
                    </a>
                </li>

                {% if menu_buttons %}
                    <div class="hidden md:flex gap-16 opacity-80 text-sm">
                        <li><a href="#solutions" class="hover:text-[#137fec] transition-all">Soluções</a></li>
                        <li><a href="#our_clients" class="hover:text-[#137fec] transition-all">Clientes</a></li>
                        <li><a href="#contact" class="hover:text-[#137fec] transition-all">Contato</a></li>
                    </div>
                {% endif %}

                <li class="flex flex-row items-center justify-center gap-4">
                    {% if user.is_authenticated %}
                        <a href="{% url 'panel' %}" class="flex items-center justify-center hover:text-[#137fec] px-2 py-1.5 transition-colors">
                            <span class="material-symbols-outlined">admin_panel_settings</span>
                        </a>
                        <form action=" {% url 'logout' %} " method="post">{% csrf_token %}
                            <button type="submit" class="flex flex-row items-center justify-centertext-sm bg-red-500 font-bold rounded-lg px-2 py-1.5 hover:bg-red-600 transition-transform active:scale-95 shadow-lg shadow-red-600/20">
                                <span class="material-symbols-outlined">logout</span>
                            </button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="text-sm bg-[#137fec] font-bold rounded-lg px-4 py-2 hover:bg-blue-600 transition-transform active:scale-95 shadow-lg shadow-blue-500/20">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    <main class="text-white flex flex-col">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-[rgb(2_6_23)] py-12 border-t border-slate-800">
        <div class="mx-auto max-w-[1200px] px-4 flex flex-col gap-6 items-center md:flex-row justify-between sm:px-8">
            <a href="/" class="flex flex-row justify-center items-center gap-2.5">
                <span class="material-symbols-outlined text-[#137fec] bg-[#137fec]/10 rounded-lg p-1">local_hospital</span>
                <span class="font-bold text-lg leading-tight tracking-tight text-white">FilaSmart</span>
            </a>
            <div>
                <p class="text-slate-400 text-sm text-center md:text-right">&copy; 2025 Estevão Ribeiro Santos. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>

    {% block extra_scripts %}{% endblock %}
</body>
</html>