<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fila Smart - Otimização de Filas Hospitalares</title>
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700;900&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="font-family: 'Public Sans', system-ui, sans-serif;" class="bg-[#101922]">
    <header class="w-full bg-[#101922] border-b border-[rgb(30_41_59)] sm:px-8">
        <nav class="mx-auto px-4 py-4 max-w-[1200px]">
            <ul class="flex flex-row justify-between text-white items-center">
                <li>
                    <a href="" class="flex flex-row justify-center items-center gap-2.5">
                        <span class="material-symbols-outlined text-[#137fec] bg-[#137fec]/10 rounded-lg p-1">local_hospital</span>
                        <span class="font-bold text-lg leading-tight tracking-tight">FilaSmart</span>
                    </a>
                </li>
                <div class="hidden sm:flex gap-16 opacity-80 text-sm">
                    <li><a href="" class="hover:text-[#137fec] transition-colors">Soluções</a></li>
                    <li><a href="" class="hover:text-[#137fec] transition-colors">Clientes</a></li>
                    <li><a href="" class="hover:text-[#137fec] transition-colors">Contato</a></li>
                </div>
                <li><a href="" class="text-sm bg-[#137fec] font-bold rounded-lg px-4 py-2 hover:bg-blue-600">Login</a></li>
            </ul>
        </nav>
    </header>

    <main class="text-white">
        <!-- <p>Solicitar contato</p>
        
        <form method="post"> {% csrf_token %}
            <label for="name">Nome completo</label>
            <input type="text" name="name" id="name" required>

            <label for="institution">Instituição</label>
            <input type="text" name="institution" id="institution" required>

            <label for="job_title">Cargo</label>
            <input type="text" name="job_title" id="job_title" required>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>

            <label for="message">Mensagem</label>
            <input type="text" name="message" id="message">

            <input type="submit" value="Solicitar contato">
        </form> -->
    </main>
    <footer>

    </footer>
</body>
</html>