{% extends "base.html" %}
{% block title %}FilaSmart - Login{% endblock %}

{% block content %}
<div class="flex-1 flex items-center justify-center">
    <div class="w-full max-w-md px-6">
        <div class="p-6 border bg-slate-900 border-slate-800 rounded-2xl">
            <form method="post" class="text-white" autocomplete="off">
                {% csrf_token %}
                <div class="flex flex-col gap-2 pb-10">
                    <div class="flex flex-col gap-4">
                        <div class="inline-flex items-center w-fit gap-2 px-3 py-1 rounded-full bg-blue-500/10 border border-blue-500/20 text-blue-400 text-xs font-bold tracking-wider">
                            <span class="material-symbols-outlined text-[16px]">lock</span>
                            <span>ACESSO RESTRITO</span>
                        </div>
                        <h1 class="text-3xl font-bold tracking-tight leading-tight text-left sm:text-4xl">Login Administrativo</h1>
                    </div>
                    <p class="text-[#92adc9] text-base">Gerencie o fluxo de atendimento da sua instituição com eficiência.</p>
                </div>
                <div class="flex flex-col gap-6">
                    <div class="flex flex-col gap-2">
                        <div class="text-white text-base font-medium leading-normal">{{ form.username.label_tag }}</div>
                        <div>{{ form.username }}</div>
                    </div>
                    <div class="flex flex-col gap-2 pb-2">
                        <div class="text-white text-base font-medium leading-normal">{{ form.password.label_tag }}</div>
                        <div>{{ form.password }}</div>
                    </div>

                    {% if form.non_field_errors %}
                    <div class="flex items-center gap-3 rounded-lg border border-red-500/30 bg-red-500/10 px-4 py-3 text-red-400 text-sm">
                        <span class="material-symbols-outlined text-[20px]">error</span>
                        <div>
                            {% for error in form.non_field_errors %}
                                <p class="leading-snug">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <button type="submit" class="w-full flex flex-row justify-center items-center h-12 py-3 px-6 text-white font-bold bg-[#137fec] rounded-lg hover:bg-blue-600 transition-transform active:scale-95 shadow-lg shadow-blue-500/20">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}